openapi: 3.0.1
info:
  title: moonbeans_api_gw_prod
  version: 2023-02-09 02:31:16UTC
servers:
  - url: https://api.moonbeans.io/{basePath}
    variables:
      basePath:
        default: ""
  - url: https://staging.api.moonbeans.io/{basePath}
    variables:
      basePath:
        default: ""
paths:
  /auth/{publicAddress}:
    get:
      responses:
        default:
          description: Default response for GET /auth/{publicAddress}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-authenticator-prod/invocations
        connectionType: INTERNET
    parameters:
      - name: publicAddress
        in: path
        description: Generated path parameter for publicAddress
        required: true
        schema:
          type: string
  /collection:
    get:
      responses:
        default:
          description: Default response for GET /collection
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-collection-manager-prod/invocations
        connectionType: INTERNET
  /collection/ca/{contractAddress}:
    get:
      responses:
        default:
          description: Default response for GET /collection/ca/{contractAddress}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-collection-manager-prod/invocations
        connectionType: INTERNET
    parameters:
      - name: contractAddress
        in: path
        description: Generated path parameter for contractAddress
        required: true
        schema:
          type: string
  /collection/featured:
    get:
      responses:
        default:
          description: Default response for GET /collection/featured
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-collection-manager-prod/invocations
        connectionType: INTERNET
  /collection/status/{status}:
    get:
      responses:
        default:
          description: Default response for GET /collection/status/{status}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-collection-manager-prod/invocations
        connectionType: INTERNET
    parameters:
      - name: status
        in: path
        description: Generated path parameter for status
        required: true
        schema:
          type: string
  /collection/{collectionId}:
    get:
      responses:
        default:
          description: Default response for GET /collection/{collectionId}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-collection-manager-prod/invocations
        connectionType: INTERNET
    post:
      responses:
        default:
          description: Default response for POST /collection/{collectionId}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-collection-manager-prod/invocations
        connectionType: INTERNET
    parameters:
      - name: collectionId
        in: path
        description: Generated path parameter for collectionId
        required: true
        schema:
          type: string
  /profile/{publicAddress}:
    get:
      responses:
        default:
          description: Default response for GET /profile/{publicAddress}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-profile-manager-prod/invocations
        connectionType: INTERNET
    post:
      responses:
        default:
          description: Default response for POST /profile/{publicAddress}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-profile-manager-prod/invocations
        connectionType: INTERNET
    parameters:
      - name: publicAddress
        in: path
        description: Generated path parameter for publicAddress
        required: true
        schema:
          type: string
  /storefront:
    get:
      responses:
        default:
          description: Default response for GET /storefront
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-storefront-manager-prod/invocations
        connectionType: INTERNET
  /storefront/featured:
    get:
      responses:
        default:
          description: Default response for GET /storefront/featured
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-storefront-manager-prod/invocations
        connectionType: INTERNET
  /storefront/{storefrontId}:
    get:
      responses:
        default:
          description: Default response for GET /storefront/{storefrontId}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-storefront-manager-prod/invocations
        connectionType: INTERNET
    post:
      responses:
        default:
          description: Default response for POST /storefront/{storefrontId}
      x-amazon-apigateway-integration:
        payloadFormatVersion: '1.0'
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:748459872289:function:moonbeans-storefront-manager-prod/invocations
        connectionType: INTERNET
    parameters:
      - name: storefrontId
        in: path
        description: Generated path parameter for storefrontId
        required: true
        schema:
          type: string
x-amazon-apigateway-cors:
  maxAge: 0
  allowCredentials: false
  allowOrigins:
    - '*'
x-amazon-apigateway-importexport-version: '1.0'
